@tailwind base;
@tailwind components;
@tailwind utilities;

.dp-style {
    padding: 2px;
    border-radius: 50%;
}

.cuHS {
    display: flex;
    padding: 5px;
    background: white;
}

.herosec {
    background-color: #8907d4;
    background-image: url('../public/images//Rectangle2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 80vh;
}

.ftr {
    background: #2C272E;
}

.ftr h2 {
    color: #67E776;
}

.crcl {
    border-radius: 50%;
    background: rgba(78, 29, 154, 0.09);
}

/* .jSWIMr{
} */

.iMqSPA {
    /* border: 2px solid red; */
    margin: auto;
    margin-bottom: 4rem !important;
    width: 95% !important;
    max-width: 1920px !important;

}

.rec-arrow {
    font-size: 1em !important;
    border-radius: 5% !important;
    width: min-content !important;
    height: min-content !important;
    padding: 0 !important;
}

.rec-dot {
    width: 25px !important;
    height: 1px !important;
    border-radius: 28% !important;
}

@media screen and (max-width: 1119px) {
    .heropic {
        width: 100%;
    }

    .hero1st {
        padding: 0;
        margin: 0;
        padding: 2rem;
        width: 100%;
    }

    .herosec {
        height: auto;
        flex-direction: column;
    }
}

/* .rec-arrow {
    display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* height: 250px; */
/* width: 100%; */
/* background-color: #00008B; */
/* color: #fff; */
/* margin: 0 15px; */
/* font-size: 4em;
} */